<aside class="center">
  <img class="avatar" src="/images/sebastien_saunier.jpg" alt="My profile picture" />
  <ul class="links">
    <li><a href="https://github.com/ssaunier">Github</a></li>
    <li><a href="https://twitter.com/ssaunier">Twitter</a></li>
    <li><a href="https://www.linkedin.com/in/sebastiensaunier">LinkedIn</a></li>
    <li><a href="https://pinboard.in/u:ssaunier">Pinboard</a></li>
    <li><a href="https://github.com/ssaunier/resume/raw/master/resume.pdf">Resume</a></li>
    <li><a href="mailto:seb+aside@saunier.me">Hire me</a></li>
  </ul>
</aside>