---
layout: default
title: Sébastien Saunier - Blog
category: blog
---

<section class="inner">
  <h1>Blog</h1>
  <p>My thoughts on Technology, Software Engineering, Lean Startup, Tools and Freelancing.</p>
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
        {% if post.french %}
          <img src="/images/french.png" alt="French post" class="french-flag" title="This post is in french" />
        {% endif %}
        <br />
        <span class="date">{{ post.date | date_to_string }}</span>
        <br />
        <span class="description">{{ post.description }}</span>
      </li>
    {% endfor %}
  </ul>
</section>
