<!DOCTYPE html>
<html lang="{% if page.language == nil %}en{% else %}{{ page.language }}{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="aexITLS38FdIRzwj25OVWxm87rpa9l-UV0URTyC9cTs" />
  <title>
    {{ page.title }}
    {% if page.category == 'blog' and page.url != '/blog/index.html' %}
    - Sébastien Saunier
    {% endif %}
  </title>
  <link rel="stylesheet" href="/css/site.css">
  <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu+Mono|Roboto:400,700,300italic">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  {% if page.description %}<meta name="description" content="{{page.description}}" />{% endif %}
  <link rel="alternate" type="application/atom+xml" title="RSS Feed for Sébastien Saunier's blog" href="/feed.xml" />

  {% if page.url == '/index.html' %}
    <link rel="alternate" hreflang="fr" href="/fr/" />
  {% elsif page.url == '/fr/index.html' %}
    <link rel="alternate" hreflang="en" href="/" />
  {% endif %}

  {{ page.extra_head }}

  {% if page.category == 'blog' %}
    {% if page.photo %}
      <meta property="og:type" content="article">
      <meta property="og:image" content="http://sebastien.saunier.me/images/posts/{{ page.photo }}" />
    {% endif %}
  {% endif %}
</head>
<body>
  <!-- <div class="top-bar">
  </div> -->

  <div class="header-container">
    <header class="inner">
      <nav>
        <a class="{% if page.category == 'about' %} selected {% endif %}" href="/">About</a>
        <a class="{% if page.category == 'portfolio' %} selected {% endif %}" href="/portfolio/">Portfolio</a>
        <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">Blog</a>
        <a href="https://github.com/ssaunier">Github</a>
        <!-- <a class="{% if page.category == 'contact' %} selected {% endif %} contact" href="/contact/">Contact</a> -->
        <!-- <a href="https://www.officehour.fr/ssaunier" target="_blank">Contact</a> -->
      </nav>
      <div class="pull-right right logo">
        <div class="name">
          <a href="/">Sébastien Saunier</a><br />
          <small>
            <em>
              {% if page.url == '/fr/index.html' %}
                <!-- <a href="/fr">Coach Technique pour Startup</a> -->
                CTO du <a href="http://www.lewagon.org" target="_blank">Wagon</a>
              {% else %}
                <!-- <a href="/">Startup Technical Coach</a> -->
                CTO at <a href="http://www.lewagon.org/en" target="_blank">Le Wagon</a>
              {% endif %}
            </em>
          </small>
        </div>
        <img class="avatar" src="/images/sebastien_saunier.jpg" alt="My profile picture" />
      </div>
      <div class="clear"></div>
    </header>
    <div class="clear"></div>
  </div>

  {{ content }}
  <div class="separator"></div>

  <div  style="border-bottom: 1px solid #ddd"></div>
  <footer>
    <p>
      Made with <a href="http://jekyllrb.com/">Jekyll</a>,
      hosted on <a href="https://github.com/ssaunier/ssaunier.github.io">Github Pages</a>.
    </p>
    <ul class="links">
      <li>
        <a href="https://github.com/ssaunier" title="See my code on GitHub">
          <i class="icon-github"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/intent/follow?screen_name=ssaunier" title="Follow me on Twitter">
          <i class="icon-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/sebastiensaunier" title="Connect with me on LinkedIn">
          <i class="icon-linkedin"></i>
        </a>
      </li>
      <!-- <li>
        <a href="https://plus.google.com/+SebastienSaunier?rel=author" title="I need this link for authorship reasons">
          <i class="icon-google-plus"></i>
        </a>
      </li> -->
      <li>
        <a href="https://pinboard.in/u:ssaunier" title="Browse my bookmarks about Programming">
          <i class="icon-bookmarks"></i>
        </a>
      </li>
      <li>
        <a href="/feed.xml" title="Subscribe to my blog with RSS">
          <i class="icon-feed"></i>
        </a>
      </li>
    </ul>
  </footer>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40867989-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    /*!
     * http://github.com/ssaunier/track-outbound-links
     * Copyright 2013 Sébastien Saunier
     * @license MIT
     */
    !function(e,t){function n(){for(var n=t.getElementsByTagName("a"),a=[],r=0;r<n.length;++r){var o=n[r];o.host!=e.location.host&&a.push(o)}return a}function a(n){for(var a=n.srcElement||n.target;a&&("undefined"==typeof a.tagName||"a"!=a.tagName.toLowerCase()||!a.href);)a=a.parentNode;a&&a.href&&(e._gaq&&_gaq.push(["_trackEvent","Outbound link","Click",a.href]),(!a.target||a.target.match(/^_(self|parent|top)$/i))&&(setTimeout(function(){t.location.href=a.href},150),n.preventDefault?n.preventDefault():n.returnValue=!1))}e.addEventListener("load",function(){var e=n();for(var t in e)e[t].addEventListener("click",a)})}(window,document);
    var links = document.links;
    for (var i = 0, linksLength = links.length; i < linksLength; i++) {
       if (links[i].hostname != window.location.hostname) { links[i].target = '_blank'; }
    }

    /*
     * Detect if we are included in an iframe => move.
     */
    if (window.top !== window.self
        && !window.self.location.href.match(/headsha\.re/))
    {
      window.top.location.replace(window.self.location.href);
    }
  </script>

  <!--
  <script id="_webengage_script_tag" type="text/javascript">
    // var _weq = _weq || {};
    // _weq['webengage.licenseCode'] = '11b563c38';
    // _weq['webengage.widgetVersion'] = "4.0";

    // (function(d){
    //   var _we = d.createElement('script');
    //   _we.type = 'text/javascript';
    //   _we.async = true;
    //   _we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";
    //   var _sNode = d.getElementById('_webengage_script_tag');
    //   _sNode.parentNode.insertBefore(_we, _sNode);
    // })(document);
  </script>
  -->

</body>
</html>
