---
layout: default
---

{% if page.photo %}
<div class="post-photo" style="background-image: url('/images/posts/{{ page.photo }}')">

</div>
{% endif %}

<article>
  <h1 class="inner">
    {{ page.title }}
  </h1>

  <p class="inner meta">{{ page.date | date: "%A %-d %B %Y" }}</p>

  {% if page.french %}
  <div class="inner suggest-translate">
    This post is in French. You can try to
    <a href="http://translate.google.com/translate?sl=fr&amp;tl=en&amp;u=http://sebastien.saunier.me{{ page.url }}">
      google translate it</a>.
  </div>
  {% endif %}

  <div class="post">
    {{ content }}
  </div>
</article>

<section class="post-footer-self-promotion inner">
  <a href="https://twitter.com/intent/follow?screen_name=ssaunier" target="_blank">
    <img class="avatar" src="/images/sebastien_saunier.jpg" />
  </a>
  <!-- <p>
    Thanks for reading! Do you want to keep up with what I do?
    <a href="https://twitter.com/intent/follow?screen_name=ssaunier">Follow me on Twitter</a> or better,

    <form action="http://saunier.us8.list-manage.com/subscribe/post?u=3e666bd315f84f1bbdfe80c3b&amp;id=0494cf26c5" method="post"target="_blank">
      <input type="email" class="form-control" name="EMAIL" placeholder="Enter your email address"
        ><input type="submit" value="Subscribe to my newsletter" >
      Fear not, I hate spam too.
    </form>
  </p> -->
  <p>
    Would you like to learn programming? I am CTO of <a href="http://www.lewagon.org">Le Wagon</a>, a <a href="http://www.lewagon.org">9-week full-stack web
    development bootcamp for entrepreneurs</a>, and would be happy to have you on board!
  </p>
</section>

<div class="separator"></div>

<section class="comments inner">
  <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'ssaunier'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>

<script>
  function resizeSlideshares() {
    var elements = document.getElementsByClassName("slideshare");
    for (var i in elements) {
      var element = elements[i];
      if (element.style) {
        element.style.height = (element.offsetWidth * 0.805) + 'px';
      }
    }
  }
  window.addEventListener("resize", resizeSlideshares);
  window.addEventListener('load', resizeSlideshares);
</script>
